/*________________RentHomepage____________*/

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: #fff;
}

.main {
  width: 100vw;
  height: 70vh;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.heading {
  background-color: white;
}

h1 {
  font-family: cursive;
  font-size: 2.4625rem;
  font-weight: 600;
}

h2 {
  font-family: var(--font-family--text, "Nunito Sans", sans-serif);
  font-size: 1.1625rem;
  font-weight: 400;
  color: "#115293";
  text-align: center;
}

.login-h5 {
  font-family: var(--font-family--text, "Nunito Sans", sans-serif);
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 50;
  text-align: center;
  color: rgb(183, 23, 61);
}

.main-image {
  width: 40vw;
  height: 40vh;
  background-size: 100%;
}

.sticky-header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1000;
}

.modal-img {
  width: 70%;
  height: 50%;
  background-size: 100%;
  align-items: center;
  text-align: center;
}
