/*________________RentHomepage____________*/

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: #fff;
}

.main {
  width: 100vw;
  height: 80vh;
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-right: 30vw;
}

h1 {
  font-family: cursive;
  font-size: 2.4625rem;
  font-weight: 600;
}

h2 {
  font-family: var(--font-family--text, "Nunito Sans", sans-serif);
  font-size: 1.1625rem;
  font-weight: 400;
  color: #1e1e1e;
  text-align: left;
  background-color: #fff;
}

h3 {
  font-weight: 550;
  font-size: 15px;

}

h4 {
  color: rgb(51, 130, 233);
  font-weight: 400;
}

.main-image {
  width: 50vw;
  height: 50vh;
  background-size: 100%;
}

.link-btn:hover {
  background-color: #8db9a0;
}

.info-icon {
  width: 80;
}



