body {
    width: 100%;
    height: auto;
  }
  
  .returnloan-container {
    background-color: rgb(199, 218, 211);
  }
  
  .returnloan-header {
    width: 100%;
    height: 60px;
  }

  .returnloan-h1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    font-size: 25px;
  }
  
  .returnloan-main {
    width: 100%;
    height: 350px;
  }
  